.accordion__tips {
    width: 100%;
    margin-bottom: 160px;
}

.accordion__tips-element {
    display: flex;
    margin-bottom: 24px;
    border: 1px solid #D0D4E0;
    transition: .3s linear;
}
.accordion__tips-element.active{
    background-color: #024190;
    border-bottom: 8px solid #FFC43C;
}

.accordion__tips-element:last-child {
    margin-bottom: 0;
}

.accordion__tips-image {
    width: 318px;
    min-height: 255px;
    padding: 40px 32px;
    border-right: 1px solid #D0D4E0;
}
.accordion__tips-element.active .accordion__tips-image {
    border-color: #D0D4E07F;
}

.accordion__tips-image-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.accordion__tips-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .3s linear;
}

.accordion__tips-element-wrapper {
    width: calc(100% - 318px);
    padding: 40px 32px;
}

.accordion__tips-title {
    margin: 0 0 16px 0;
    padding-right: 72px;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.33;
    color: #2B2A29;
    cursor: pointer
}
.accordion__tips-element.active .accordion__tips-title{
    color: #FFFFFF;
}

.accordion__tips-title span {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #D0D4E0;
    transition: all .2s linear;
}
.accordion__tips-title span:hover,
.accordion__tips-title span:focus,
.accordion__tips-title span:active {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 13px 0 rgb(0 0 0 / 10%);
}
.accordion__tips-title span:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 30%;
    width: 12px;
    height: 12px;
    transform-origin: 70.5% 70.5%;
    transform: rotate(45deg);
    border-right: 1px solid #024190;
    border-bottom: 1px solid #024190;
    transition: all .2s linear;
}
.accordion__tips-element.active .accordion__tips-title span:before{
    border-color: #FFFFFF;
    transform: rotate(225deg);
}
.accordion__tips-element.active .accordion__tips-excerpt {
    display: none;
}
.accordion__tips-element .accordion__tips-excerpt {
    display: block;
    padding-right: 72px;
    font-size: 18px;
    line-height: 104%;
    color: #2B2A29;
}
.accordion__tips-content{
    padding-right: 72px;
    font-size: 18px;
    line-height: 104%;
    color: #ffffff;
}
.accordion__tips-element .accordion__tips-content{
    display: none;
}